@import url(normalize.css);
body {
  font: 14px;
}
body .wrapper {
  width: 940px;
  margin: 0 auto;
}
body .wrapper-low {
  width: 910px;
  margin: 0 auto;
}
body a {
  text-decoration: none;
  color: #010101;
}
body li {
  list-style: none;
}

.btn {
  border: 2px solid #853972;
  padding: 17px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #853972;
}
.btn:hover {
  color: white;
  background-color: #853972;
}

header {
  background: url("../img/Bd-header.gif") no-repeat 0 0;
  height: 88px;
}
header img {
  float: left;
  margin-top: 30px;
}
header nav {
  float: right;
}
header nav ul {
  float: right;
  padding-top: 0;
  margin-top: -57px;
}
header nav li {
  float: right;
  margin-left: 10px;
  text-transform: uppercase;
  padding-top: 15px;
}
header nav li a {
  padding-bottom: 36px;
}
header nav li a:hover {
  border-bottom: 5px solid #f1283f;
}

main {
  min-height: 1000px;
}
main .heading {
  float: left;
  padding-top: 15px;
  min-height: 100px;
}
main .heading span {
  font-size: 18px;
  color: #fb374f;
  font-weight: bold;
  text-transform: uppercase;
}
main .heading i {
  position: absolute;
  margin-top: 35px;
  background-image: url("../img/spritesheet.png");
  width: 26px;
  height: 28px;
  background-position: -97px -5px;
}
main .arts {
  min-height: 835px;
  background: url("/img/Bg-wall.gif") no-repeat 50% 50%;
  background-size: cover;
}
main .arts .art {
  position: relative;
  float: left;
  top: 165px;
}
main .arts .art img {
  position: relative;
  left: 20px;
}
main .arts .art img:hover {
  bottom: 35px;
}
main .arts .art p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
main .arts .art p a {
  text-decoration: underline;
  color: #7d3870;
  font-weight: bold;
  font-size: 23px;
}
main .seminars {
  min-height: 1000px;
  margin-top: 145px;
}
main .seminars .images figure {
  float: right;
  margin-left: 20px;
  margin-bottom: 30px;
}
main .seminars .images figure img {
  margin-left: 9px;
}
main .registration {
  min-height: 100px;
}
main .registration form {
  margin-bottom: -100px;
  float: right;
  width: 670px;
  min-height: 190px;
  box-sizing: border-box;
  font-weight: 18px;
}
main .registration form p {
  font-weight: bold;
  font-size: 16px;
}
main .registration form label {
  width: 34px;
  height: 34px;
  float: left;
  margin-bottom: 10px;
  background-image: url("../img/spritesheet.png");
}
main .registration form label:nth-of-type(1) {
  background-position: -221px -5px;
}
main .registration form label:nth-of-type(2) {
  background-position: -177px -5px;
}
main .registration form label:nth-of-type(3) {
  background-position: -133px -5px;
}
main .registration form input {
  margin-top: -50px;
  float: right;
  padding: 10px 0 7px;
  width: 92%;
  padding: 10px 0;
  border-style: none;
  border-bottom-style: groove;
  border-color: #f44c5e;
  margin-left: 50px;
  font-weight: bold;
}
main .registration form input:last-of-type {
  margin-bottom: 0;
}
main .registration form button {
  float: left;
  margin-top: 36px;
  font-size: 18px;
  padding: 13px 34px 15px;
  background-color: #fb374f;
  border: none;
  color: white;
}
main .concurs {
  margin-top: 100px;
  background: url("../img/konkurs.png") no-repeat 50% 100%;
  min-height: 500px;
  background-color: #853972;
  color: white;
}
main .concurs::after {
  content: '';
  clear: both;
  display: table;
}
main .concurs .con {
  padding-top: 265px;
}
main .concurs .con span, main .concurs .con p, main .concurs .con a {
  color: white;
  font-weight: bold;
}
main .concurs .con .cons {
  float: left;
  width: 180px;
  margin-left: 145px;
}
main .concurs .con a {
  text-decoration: underline;
  text-align: justify;
}
main .tour {
  margin-bottom: 65px;
}
main .tour::after {
  content: '';
  clear: both;
  display: table;
}
main .tour .tours {
  margin-top: 5px;
}
main .tour .tours .text {
  float: left;
  margin-left: 170px;
}
main .tour .tours .text p {
  color: #939598;
  font-weight: bold;
}
main .tour .tours .btn {
  float: right;
}
main .report {
  min-height: 663px;
  background: url("../img/bg-fashionKare.gif") no-repeat 50% 0;
}
main .report .textWrapper {
  margin-left: 45%;
  padding-top: 10%;
}
main .report .textWrapper p {
  font-size: 47px;
  line-height: 56px;
  color: #853972;
}
main .report .textWrapper strong {
  font-size: 60px;
  color: #fb374f;
}
main .report .reports {
  margin-top: 150px;
}
main .report .reports::after {
  content: '';
  display: table;
  clear: both;
}
main .report .reports .uncover {
  float: left;
  margin-right: 100px;
}
main .report .reports .uncover b {
  float: left;
  margin-bottom: 43px;
  color: #853972;
  font-weight: bold;
}
main .report .reports .uncover:last-child {
  margin-right: 0;
}
main .report .reports .uncover::after {
  content: '';
  display: table;
  clear: both;
}
main .slider {
  width: 1024px;
  overflow: hidden;
}
main .slider .sliderWrapper {
  width: 9999px;
  height: 683px;
  position: relative;
  -webkit-transition: left 500ms linear;
          transition: left 500ms linear;
  float: left;
  position: relative;
  width: 1024px;
  height: 683px;
}

/*# sourceMappingURL=style.css.map */